PORT=":3000"
CORS_SITES="*"
DATABASE="startersaas-db"
DATABASE_URI="mongodb://localhost:27017"
JWT_SECRET="vfbhdsfnbdfsfdgfdsgfmghfdhgsdflnglsdfngker"
JWT_EXPIRE="1d"
FRONTEND_LOGIN_URL="http://localhost:5000/auth/login"
MAILER_HOST='localhost'
MAILER_PORT=1025
MAILER_USERNAME='foo'
MAILER_PASSWORD='bar'
DEFAULT_EMAIL_FROM="noreply@startersaas.com"
LOCALE="it"
STRIPE_SECRET_KEY=sk_test_xyz
TRIAL_DAYS=15
PAYMENT_FAILED_RETRY_DAYS=7
NOTIFIED_ADMIN_EMAIL=info@startersaas.com
FATTURA24_KEY="XYZ"
FATTURA24_URL="https://www.app.fattura24.com/api/v0.3/SaveDocument"
SIGNUP_WITH_ACTIVATE=true
STARTER_PLAN_TYPE="basic"

