{
  "publicKey": "yyyy",
  "plans": [
    {
      "id": "xxx1",
      "title": "Starter - Piano Mensile",
      "price": 199,
      "currency": "EUR",
      "features": [
        "Piano editoriale mensile",
        "1 post Facebook/settimana",
        "1 post Instagram/settimana",
        "1 Facebook story/settimana",
        "1 Instagram story/settimana",
        "1 articolo il blog ottimizzato SEO",
        "-",
        "-",
        "-",
        "-"
      ],
      "monthly": true
    },
    {
      "id": "xxx2",
      "title": "Base - Piano Mensile",
      "price": 399,
      "currency": "EUR",
      "features": [
        "Piano editoriale mensile",
        "2 post Facebook/settimana",
        "2 post Instagram/settimana",
        "2 Facebook stories/settimana",
        "2 Instagram stories/settimana",
        "1 articolo blog ottimizzato SEO",
        "Ideazione linea grafica IG",
        "2 sponsorizzazioni sui social (budget a carico del cliente)",
        "-",
        "-"
      ],
      "monthly": true
    },
    {
      "id": "xxx2",
      "title": "Pro - Piano Mensile",
      "price": 699,
      "currency": "EUR",
      "features": [
        "Piano editoriale mensile",
        "2 post Facebook/settimana",
        "2 post Instagram/settimana",
        "2 Facebook stories/settimana",
        "2 Instagram stories/settimana",
        "2 articoli blog ottimizzato SEO",
        "Ottimizzazione pagine social",
        "Ideazione linea grafica IG",
        "4 sponsorizzazioni sui social (budget a carico del cliente)",
        "Report mensile"
      ],
      "monthly": true
    }
  ]
}